@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   padding: 10px;
   background-color: #161616;
}

.swiper{
   width: 950px;
}

.card .card-content{
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   position: relative;
   z-index: 100;;
}

section .card .image{
   height: 140px;
   width: 140px;
   border-radius: 50%;
   padding: 3px;
   background: #530101;
}

section .card .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
   border: 3px solid #fad2d2;
   transition: all 0.5s ease;
}
section .card .image img:hover{
   transform: scale(1.3) translateY(-13px);
}

.card{
   background: #fad2d2;
   border-radius: 20px;
   margin: 20px 0;
   color: #b41919;
   position: relative;
}

.card::before{
   content: '';
   position: absolute;
   height: 40%;
   width: 100%;
   background: #530101;
   border-radius: 20px 20px 0 0;
}


.card .media-icons{
   top: 10px;
   position: absolute;
   right: 5px;
   display: flex;
   flex-direction: row;
      align-items: center;
}

.card .media-icons i{
   opacity: 0.2;
   color: #fff;
   margin-right: 10px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.card .media-icons i:hover{
   opacity: 1;
}


.role{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profession{
   font-size: 13px;
}

.name{
   font-size: 20px;
   font-weight: 600;
}

.rating{
   display: flex;
   align-items: center;
}

.rating i{
   font-size: 18px;
   margin: 0 2px;
   color: #530101;
   transition: all 0.5s ease;
}

.rating i:hover{
   transform: scale(1.5);
   color: #df4b4b;
}

.button{
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-top: 10px;
}
/*df4b4b*/

.button button{
   background-color: #b41919;
   color: #fad2d2;
   outline: none;
   border: none;
   padding: 8px 22px;
   border-radius: 15px;
   font-size: 14px; 
   transition: all 0.3s ease;
   cursor: pointer;
}

.button button:hover{
   background: #530101;
}